body {

    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto ;
    color:white;

}
.wrapper{
    display:flex;
    align-items: center ;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

h1 {
    position: relative;
    font-size: 3em;
    color:fff;
    text-shadow: 3px 1px 3px black;
}
h2{
    font-size: 2em;
    text-shadow: 3px 1px 3px black;
}
i.wi {
    font-size: 3em;
    margin:0;
    text-shadow: 3px 1px 3px black;
}

.tooltip{
    opacity: 0;
    position: absolute;
    top:0;
    left:10px;
    padding: 5px;
    border-radius: 5px;
    background-color: black;
    font-size: 12px;
    transition: opacity 0.5s, top 0.5s;
    /* border:2px solid greenyellow; */
}
h1:hover .tooltip{
    opacity: 1;
    top: -30px;
}

.author{
    position: fixed;
    bottom: 10px;
    text-align: center;
    text-shadow: rgb(0, 0, 0) 3px 1px 3px;
}
.author a {
    text-decoration: none;
    opacity:.7;
    color:inherit;
    transition: opacity 0.3s;
}
.author::after{
    content: '';
    clear: both;
}

.author a:hover{
    opacity:1;
}
#test12{
    /* display: static;
    right: 110px; */


    border-radius: 20px;
    height: 64px;
    width:64px;
    border:3px solid #ffffff;
    border-shadow
}
.clear{background: url('../img/clear.jpg');}
.clouds{ background: url('../img/cloud.jpg')  ;}
.rain{background: url('../img/rain.jpg'); }
.snow{background: url('../img/snow.jpg');}